@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  font-family: 'Lora', serif;
  scroll-behavior: smooth;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: blueviolet;
}

.container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container .card{
  position: relative;
  width: 200px;
  height: 300px;
  margin: 10px;
  background-color: aliceblue;
  border-radius: 15px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.container .card .content{
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}

.container .card .content img{
  position: absolute;
  top: 25%;
  transform: translateY(0);
  height: 125px;
  transition: 0.5s;
}

.container .card .content h2{
  font-size: 1.5em;
  z-index: 1;
  transform: translateY(200px);
  transition: 0.5s;
}

.container .card .content p{
  font-size: 1em;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s;
  text-align: justify;
}

.container .card .content a{
  display: inline-block;
  text-decoration: none;
  padding: 8px 10px;
  margin-top: 15px;
  border-radius: 7px;
  background: crimson;
  color: black;
  font-weight: bold;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.7s; 
}

.container .card:hover .content{
 margin-top: 25px;
}
.container .card:hover .content img{
  -webkit-filter: grayscale(100%);
  opacity: 0.2;
  top: 15%;
  transform: translateX(50%);
  height: 200px;
}

.container .card:hover .content h2{
  font-size: 20px;
}


.container .card:hover .content h2,
.container .card:hover .content p,
.container .card:hover .content a{
  opacity: 1;
  transform: translateY(0);
}